.navbar {
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-font {
    font-family: 'Titillium Web', sans-serif;
    font-size: large;
    font-weight: 300;
    color: black;
}

.navbar-font-a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
    letter-spacing: 2px;
}

.text-reset {
    color: black;
}

.info-bar {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.header-categories {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    margin-top: 10px;
}

.category-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.category-list li {
    margin-left: 10px;
}

.category-list a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: black;
    text-decoration: none;

}

.text-footer a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.text-footer h6 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.text-footer li{
    list-style-type: none; /* Elimina los puntos de la lista */
    padding-left: 0;
}

.text-footer p {
    margin: 0%;
    box-sizing: border-box;
}


.dropdown-menu-start {
    right: auto;
    left: 0;
}

.dropdown-menu {
    right: auto;
    left: 0;
    transform: translateX(-100%);
}

.footer-bottom {
    background-color: #282c31;
    color: #D3D7DA;
}

.footer-bottom a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: rgb(209, 209, 209);
    
    text-decoration: none;
}

.product-price-badge {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-top-right-radius: 5px;
    font-size: 14px;
}

.product-card {
    position: relative;
}

.text-product a {
    text-decoration: none;
    color: black;
}

.card {
    border: 0;
}

.card-products:hover {
    border: 1px solid black;
}

.product-card:hover .product-price-badge {
    transform: translateY(-8px);
    transition: transform 0.2s;
}

.rotated-image {
    transform: rotate(180deg);
}

.footer-top {
    background-color: rgb(235, 235, 10);
    height: 150px;
}

.footer-top span {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    letter-spacing: 0px;
}

.button-footer {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 20px;
    height: 60px;
    width: 250px;
    position: relative;
}

.button-text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: opacity 0.3s ease;
}

.button-text:hover {
    opacity: 0.7;
}

.nav-item:hover .nav-link {
    position: relative;
}

.nav-item:hover .nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
}

.category-list li:hover a {
    position: relative;
}

.category-list li:hover a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
}

.no-gutters .row {
    margin-right: 0;
    margin-left: 0;
}